// app's theme colors
$backgroundBlue: rgb(8, 105, 231);
$hardAccentGray: lightgray;
$softAccentGray: rgb(161, 161, 161);
$primaryWhite: white;
$shadowBlack: rgba(66, 63, 63, 0.473);


// general styles for all elements
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, 
        Geneva, Verdana, sans-serif;
}